<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Детский кризисный центр</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" type="text/css" href="./main.css" />
    <!--[if IE 6]><link href="./iexplorer.css" rel="stylesheet" type="text/css" /><![endif]-->
    
    <script type="text/javascript" src="./js/iexplorer.js"></script>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/s3Slider.js"></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$('#slider').s3Slider({
				timeOut: 5000
			});
		});
	</script>    
</head>
<body>
	<div class="logo" >
		<img src="./images/header.jpg" title="Детский кризисный центр" alt="Санкт-Петербургская благотворительная общественная организация Детский кризисный центр" />
	</div>    
    
    <!-- Главное меню сайта -->
    <div class="menu">
	<ul class="menu" id="menu">     
      	<li><a href="#"  class="hide">О нас</a>
      		<ul>
      			<li><a href="./about/mission.html">Миссия ДКЦ</a></li>
      			<li><a href="./about/history.html">История ДКЦ</a></li>
      			<li><a href="./about/employes.html">Наши сотрудники</a></li>
      			<li><a href="./about/partners.html">Наши партнеры</a></li>
      			<li><a href="./about/law.html">Правовая информация</a></li>
      			<li><a href="./about/accounts.html">Отчеты</a></li>
      			<li><a href="./about/news.html">Новости</a></li>
      		</ul>
      	</li>
        <li>
            <a href="#" class="hide">Проекты</a>
            <ul>
                <li><a href="./projects/telephone.html">Телефон доверия</a></li>
                <li><a href="./projects/social-service.html">Социальная служба</a></li>
                <li><a href="./projects/night-hotel.html">Ночная гостиница</a></li>
                <li><a href="./projects/family-center.html">Центр семьи</a></li>
                <li><a href="./projects/mobile-school.html">Мобильная школа</a></li>
                <li><a href="./projects/popravlyajsa.html">&laquo;Поправляйся!&raquo;</a></li>
                <li><a href="./projects/prostranstvo-radosti.html">Пространство радости</a></li>
                <li><a href="./projects/workships.html">Творческие мастерские</a></li>
                <li><a href="./projects/deti-ulits.html">
                Центр реабилитации подростков</a></li>
                <li><a href="./projects/agatha.html">Детская квартира &laquo;Агата&raquo;</a></li>
                <li><a href="./projects/ziliba.html">&laquo;Цилиба&raquo;</a></li>
                <li><a href="./projects/school-phone.html">Детям о телефоне доверия</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="hide">Волонтёры</a>
            <ul>
                <li><a href="#">Колбаса</a></li>
                <li><a href="#">Мороженое</a></li>
                <li><a href="#">Арбузы</a></li>
                <li><a href="#">Апельсины</a></li>
                <li><a href="#">Мучные&nbsp;изделия</a></li>
            </ul>
        </li>
        <li><a href="#" class="hide">Галереи</a></li>
    	<li class="wide">
            <a href="#" class="hide">Как нам можно помочь</a>
            <ul>
                <li><a href="#">Помочь прямо сейчас</a></li>
                <li><a href="#">Помочь деньгами</a></li>
                <li><a href="#">Помочь вещами</a></li>
                <li><a href="#">Стать нашим волонтером</a></li>
                <li><a href="#">Мы благодарим</a></li>
            </ul>
        </li>
        <li class="lastMenuItem"><a href="#"  class="hide">Контакты</a>
        	<ul class="lastMenuItem">
                <li><a href="#">Наши контакты</a></li>
                <li><a href="#">Как нас найти</a></li>
                <li><a href="#">Контакты проектов</a></li>
                <li><a href="#">Карта сайта</a></li>
            </ul>
        </li>
    </ul>    
    </div>
    
    <!-- Заголовок и дополнительная навигация -->
    <div class="header">
    	<div id="mainHeaderContainer">
    		<img class="logotype" src="./images/logo.png" alt="Логотип детского кризисного центра" title="Детский кризисный центр" />	
    		<p id="upheader">Санкт-Петербургская благотворительная общественная организация</p>
    		<h1>Детский кризисный центр</h1>
    	</div>
    	
    	<div class="subNav">
    		    		
    		<a href="http://it.besprizornik.spb.ru">
    		<img src="./images/italiano.gif" title="Italian version" alt="Italiano" class="subNavImage"/></a>
    		
    		<a href="http://en.besprizornik.spb.ru">
    		<img src="./images/english.gif" title="English version" alt="English" class="subNavImage"/></a>
    		    		
    		<a href="http://besprizornik.spb.ru">
    		<img src="./images/russian.gif" title="Русская версия сайта" alt="На русском" class="subNavImage"/></a>
    		
    		<a href="http://dkz.neezyl.com">
    		<img src="./images/home.gif" title="Вернуться на главную страницу" alt="Домой" /></a>
    	</div>
    </div>
    
    <!-- Основное содержимое, верстаемое в семь колонок -->
    <div class="contents">
    	<!-- Контейнер для проектов -->
    	<div class="projectsContainer">
    		
    		<h2>Наши проекты</h2>
    		
    		<div class="project" id="project1">
   				<h3>Телефон доверия</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    		
    		<div class="project" id="project2">
   				<h3>Cоциальная служба</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    		
    		<div class="project" id="project3">
   				<h3>Ночная гостиница</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    		
    		<div class="project" id="project4">
   				<h3>Центр семьи</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    		
    		<div class="project" id="project5">
   				<h3>Мобильная школа</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    		
    		<div class="project" id="project6">
   				<h3>&laquo;Поправляйся!&raquo;</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    		
    		<div class="project" id="project7">
   				<h3>Пространство радости</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    		
    		<div class="project" id="project8">
   				<h3>Творческие мастерские</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    		
    		<div class="project" id="project9">
   				<h3>Центр реабилитации&nbsp;подростков</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    		
    		<div class="project" id="project10">
   				<h3>Детская квартира &laquo;Агата&raquo;</h3>
				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
				</p>
    		</div>
    	</div>
    
    	<!-- Контейнер для слайдшоу, оставшихся проектов и баннеров -->
    	<div class="meltedContentsContainer">
    		
    		<!-- Слайдшоу на яваскрипте -->
    		<div class="mainImage" id="slideshowIndex">
    			<div id="slider">
				   <ul id="sliderContent">
					  <li class="sliderImage">
						  <img src="./images/slider/1.jpg" 
						  alt="Мобильная школа" />
						  <div class="bottom">
						  	<h3><a href="./projects/center-reabilitacii.html">
						  	Центр реабилитации подростков</a></h3>
						  	<a href="./projects/center-reabilitacii.html">Проект &laquo;Мобильная школа&raquo; предназначен для детей от 11 до&nbsp;18&nbsp;лет,&nbsp;которые по каким-либо причинам не посещают школу. </a>
						  </div>
					  </li>
					  <li class="sliderImage">
						  <img src="./images/slider/2.jpg" 
						  alt="Телефон доверия" />
						  <div class="bottom">Your text comes here</div>
					  </li>
					  <li class="sliderImage">
						  <img src="./images/slider/3.jpg" 
						  alt="&laquo;Поправляйся!&raquo;" />
						  <div class="bottom">Your text comes here</div>
					  </li>
					  <li class="sliderImage">
						  <img src="./images/slider/4.jpg" 
						  alt="Проект &laquo;Цилиба&raquo;" />
						  <div class="bottom">Your text comes here</div>
					  </li>
					  <li class="sliderImage">
						  <img src="./images/slider/5.jpg" 
						  alt="Детская квартира &laquo;Агата&raquo;" />
						  <div class="bottom">Your text comes here</div>
					  </li>
					 <li>
					  <div class="clear sliderImage"></div>
					 </li> 
				   </ul>
				</div>
			</div>
    		
    		<!-- Общий контейнер для оставшихся проектов и баннеров.
    			Мы вынуждены помеещать их в один общий контейнер, 
    			чтобы работало обтекание -->
    		<div class="bannersAndProjects">
    			
    			<!-- Последние проекты - два штуки -->
    			<div class="projectsContainer2">
    				<div class="project" id="project11">
						<h3>&laquo;Цилиба&raquo;</h3>
						<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
						</p>
					</div>
					
					<div class="project" id="project12">
						<h3>Детям о телефоне доверия</h3>
						<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts.
						</p>
					</div>
					
    			</div>
    			
    			<!-- Два баннера справа от проектов -->
    			<div class="banners">
    				<div id="banner1">
    					<img src="./images/banners/banner1.png" alt="#"/>
    				</div>
    				
    				<div id="banner2">
    					<img src="./images/banners/banner2.png" alt="#"/>
    				</div>
    			</div>
    		</div>
    	</div>
    	
   		<!-- Контейнер для новостей, линейки и картинок -->
    	<div class="newsContentsContainer">
    		
    		<!-- Линейка и солнышко -->
    		<hr id="mainPageLine" />
    		<img id="sunImage" src="./images/sunImage.png" alt="#" />
    		
    		<!-- Блоки новостей -->
    		<div class="newsWrapper">
    			<h2>Новости и события</h2>
    			<div class="news" id="news584">
    				<h3>Заголовок новости</h3>
    				<p>That little feed on the TV screen thankfully isn’t our responsibility anymore, though the scripts for it are still sitting around on various hard drives, ready to be dusted off and put to use again. Instead, tonight is all about the online coverage. To produce that we pull two different data sources:</p>
    				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts statewide which have reported.
    				</p>
    			</div>
    			
    			<div class="news" id="news583">
    				<h3>Заголовок новости</h3>
    				<p>That little feed on the TV screen thankfully isn’t our responsibility anymore, though the scripts for it are still sitting around on various hard drives, ready to be dusted off and put to use again. Instead, tonight is all about the online coverage. To produce that we pull two different data sources:</p>
    				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts statewide which have reported.
    				</p>
    			</div>
    			
    			<div class="news" id="news582">
    				<h3>Заголовок новости</h3>
    				<p>That little feed on the TV screen thankfully isn’t our responsibility anymore, though the scripts for it are still sitting around on various hard drives, ready to be dusted off and put to use again. Instead, tonight is all about the online coverage. To produce that we pull two different data sources:</p>
    				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts statewide which have reported.
    				</p>
    			</div>
    			
    			<div class="news" id="news581">
    				<h3>Заголовок новости</h3>
    				<p>That little feed on the TV screen thankfully isn’t our responsibility anymore, though the scripts for it are still sitting around on various hard drives, ready to be dusted off and put to use again. Instead, tonight is all about the online coverage. To produce that we pull two different data sources:</p>
    				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts statewide which have reported.
    				</p>
    			</div>
    			
    			<div class="news" id="news580">
    				<h3>Заголовок новости</h3>
    				<p>That little feed on the TV screen thankfully isn’t our responsibility anymore, though the scripts for it are still sitting around on various hard drives, ready to be dusted off and put to use again. Instead, tonight is all about the online coverage. To produce that we pull two different data sources:</p>
    				<p>From the office of the Kansas Secretary of State, we get the total votes cast across the entire state, and number of precincts statewide which have reported.
    				</p>
    			</div>
    		</div>
    		
    		<!-- Картинка с детьми -->
    		<img src="./images/children.png" alt="#" />
    	</div>
    	
    </div>
    
    <!-- Подвал и все, что с ним связано -->
    <div class="footer">
    	<hr />
    	<div class="footerContents">
    		<div class="leftWrapper">
    			<p class="footerNav"><a href="#" title="Гостевая книга">ГОСТЕВАЯ КНИГА</a></p>
    			<p class="footerNav"><a href="#" title="Вестник ДКЦ">ГАЗЕТА &laquo;ВЕСТНИК ДКЦ&raquo;</a></p>
    		</div>
    		
    		<div class="copyright">
    			<p class="footerNav">&copy;&nbsp;ДЕТСКИЙ КРИЗИСНЫЙ ЦЕНТР, г. САНКТ-ПЕТЕРБУРГ</p>
    		</div>
    		
    		<div class="rightWrapper">
    			<p class="footerNav">
    				<a href="http://validator.w3.org/check?uri=referer">
    				<img src="http://www.w3.org/Icons/valid-xhtml10-blue"
        			alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
  				</p>
    			
    			<p class="footerNav"><a href="#" title="Гостевая книга">КАРТА САЙТА</a></p>
    			<p class="footerNav"><a href="#" title="Вестник ДКЦ">КОНТАКТЫ</a></p>
    		</div>
    	</div>
    </div>
    
</body>
</html>