<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Детский кризисный центр &mdash; Телефон доверия</title>
    <base href="http://talbothouse.local/" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="./main.css" />
    <!--[if IE 6]><link href="./iexplorer.css" rel="stylesheet" type="text/css" /><![endif]-->
    <script type="text/javascript" src="./js/iexplorer.js"></script>   
</head>
<body>
	<div class="logo" >
		<img src="./images/header.jpg" title="Детский кризисный центр" alt="Санкт-Петербургская благотворительная общественная организация Детский кризисный центр" />
	</div>    
    
    <!-- Главное меню сайта -->
    <div class="menu">
	<ul class="menu" id="menu">     
      	<li><a href="#"  class="hide">О нас</a>
      		<ul>
      			<li><a href="./about/mission.html">Миссия ДКЦ</a></li>
      			<li><a href="./about/history.html">История ДКЦ</a></li>
      			<li><a href="./about/employes.html">Наши сотрудники</a></li>
      			<li><a href="./about/partners.html">Наши партнеры</a></li>
      			<li><a href="./about/law.html">Правовая информация</a></li>
      			<li><a href="./about/accounts.html">Отчеты</a></li>
      			<li><a href="./about/news.html">Новости</a></li>
      		</ul>
      	</li>
        <li>
            <a href="#" class="hide">Проекты</a>
            <ul>
                <li><a href="./projects/telephone.html">Телефон доверия</a></li>
                <li><a href="./projects/social-service.html">Социальная служба</a></li>
                <li><a href="./projects/night-hotel.html">Ночная гостиница</a></li>
                <li><a href="./projects/family-center.html">Центр семьи</a></li>
                <li><a href="./projects/mobile-school.html">Мобильная школа</a></li>
                <li><a href="./projects/popravlyajsa.html">&laquo;Поправляйся!&raquo;</a></li>
                <li><a href="./projects/prostranstvo-radosti.html">Пространство радости</a></li>
                <li><a href="./projects/workships.html">Творческие мастерские</a></li>
                <li><a href="./projects/deti-ulits.html">
                Центр реабилитации подростков</a></li>
                <li><a href="./projects/agatha.html">Детская квартира &laquo;Агата&raquo;</a></li>
                <li><a href="./projects/ziliba.html">&laquo;Цилиба&raquo;</a></li>
                <li><a href="./projects/school-phone.html">Детям о телефоне доверия</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="hide">Волонтёры</a>
            <ul>
                <li><a href="#">Колбаса</a></li>
                <li><a href="#">Мороженое</a></li>
                <li><a href="#">Арбузы</a></li>
                <li><a href="#">Апельсины</a></li>
                <li><a href="#">Мучные&nbsp;изделия</a></li>
            </ul>
        </li>
        <li><a href="#" class="hide">Галереи</a></li>
    	<li class="wide">
            <a href="#" class="hide">Как нам можно помочь</a>
            <ul>
                <li><a href="#">Помочь прямо сейчас</a></li>
                <li><a href="#">Помочь деньгами</a></li>
                <li><a href="#">Помочь вещами</a></li>
                <li><a href="#">Стать нашим волонтером</a></li>
                <li><a href="#">Мы благодарим</a></li>
            </ul>
        </li>
        <li class="lastMenuItem"><a href="#"  class="hide">Контакты</a>
        	<ul class="lastMenuItem">
                <li><a href="#">Наши контакты</a></li>
                <li><a href="#">Как нас найти</a></li>
                <li><a href="#">Контакты проектов</a></li>
                <li><a href="#">Карта сайта</a></li>
            </ul>
        </li>
    </ul>    
    </div>
    
    <!-- Заголовок и дополнительная навигация -->
    <div class="header">
    	<div id="mainHeader">
    		<h1>Центр реабилитации подростков</h1>
    	</div>
    	
    	<div class="subNav">
    		    		
    		<a href="http://it.besprizornik.spb.ru">
    		<img src="./images/italiano.gif" title="Italian version" alt="Italiano" class="subNavImage"/></a>
    		
    		<a href="http://en.besprizornik.spb.ru">
    		<img src="./images/english.gif" title="English version" alt="English" class="subNavImage"/></a>
    		    		
    		<a href="http://besprizornik.spb.ru">
    		<img src="./images/russian.gif" title="Русская версия сайта" alt="На русском" class="subNavImage"/></a>
    		
    		<a href="http://dkz.neezyl.com">
    		<img src="./images/home.gif" title="Вернуться на главную страницу" alt="Домой" /></a>
    	</div>
    </div>
    
    <!-- Основное содержимое, верстаемое в семь колонок -->
    <div class="contents">
    	<div class="mainContentsColumnContainer">
			<div class="sidebarColumnContainer">
    	
    		<!-- Панель с навигацией слева -->
				<div class="sidebar">
					<ul class="sidebar">
						<li><a href="./projects/telephone.html">О телефоне доверия</a></li>
						<li><a href="./projects/telephone/cases.html">В каких случаях можно позвонить</a></li>
						<li><a href="./projects/volunteers/telephone.html">Стать волонтёром телефона доверия</a></li>
						<li><a href="./projects/telephone/kak-pomoch.html">Как нам можно помочь</a></li>
						<li><a href="./projects/telephone/for-me.html">Чем для меня является телефон доверия</a></li>
					</ul>
				</div>
				
				<!-- Основное содержимое -->
				<div class="mainContents">
					<h2>О телефоне доверия</h2>
					<div id="telephoneAbout">
					<p>Первая программа Центра - «Телефон доверия» - предусматривает оказание экстренной психологической или информационной помощи детям, подросткам, их родителям.</p>
					<p>Дети и подростки, оказавшись в сложной ситуации, часто, по разным причинам, боятся обратиться к родителям, педагогам, в государственные учреждения, в милицию. И нередко Телефон доверия становится для них единственной возможностью получить помощь.</p>
					<p>Консультант Телефона доверия, при необходимости, направляет абонента в другие службы ДКЦ, где оказывается социальная, педагогическая, материальная поддержка, проводится очная психологическая консультация.</p>
					<p>В настоящее время телефон работает круглосуточно; за 2008 год количество обратившихся к нам детей, подростков, родителей составило 7189 человек; основные темы звонков - межличностные отношения, проблемы воспитания детей, семейные конфликты, насилие, нарушение прав и др.</p>
					<h4>Принципы телефонного консультирования</h4>
					<p>Абонент должен быть уверен в полной конфиденциальности. Никакая информация, полученная от него, не может быть вынесена за пределы службы без его специального разрешения.</p>
					<p>Ни абоненты, ни работники служб неотложной телефонной помощи не должны подвергаться конфессиональному, политическому или идеологическому давлению. Работники принимаются на службу только после тщательного отбора и обучения; с учетом их способности к пониманию и сочувствию другому человеку.</p>
					<p>На абонента не налагается никаких финансовых или каких-либо иных обязательств. Никто из работников службы не может давать показания представителям власти и правопорядка, не получив предварительного разрешения абонента, а также руководителей данной службы.</p>
					</div>
					<div class="rightImage">
						<img src="./images/slider/2.jpg" alt="Телефон доверия" />
						<p class="citation">На абонента не налагается никаких финансовых или каких-либо иных обязательств. Никто из работников службы не может давать показания представителям власти и правопорядка, не получив предварительного разрешения абонента, а также руководителей данной службы.</p>
					</div>
					
					<!-- Выноска с фотографией — один класс и три правила -->
					<div class="caption">
						<img src="./images/projects/telephon_00.jpg" alt="AM" />
						<p>На абонента не налагается никаких финансовых или каких-либо иных обязательств. Никто из работников службы не может давать показания представителям власти и правопорядка, не получив предварительного разрешения абонента.
						</p>
					</div>
					
					<!-- Таблицы для «Как нам можно помочь» -->
					<div class="tableHelp">
						<table>
							<thead>
								<tr>
									<td id="leftCell">Чем можно помочь</td>
									<td>Количество</td>
									<td id="rightCell">Комментарий</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Детская верхняя одежда</td>
									<td>2</td>
									<td>В центр дневного пребывания подростков нужна детская одежда</td>
								</tr>
								
								<tr class="even">
									<td>Коляска</td>
									<td>1</td>
									<td>В проект «Агата» нужна детская коляска</td>
								</tr>
								
								<tr>
									<td>Коляска</td>
									<td>1</td>
									<td>В проект «Агата» нужна детская коляска</td>
								</tr>
								
								<tr class="even">
									<td>Коляска</td>
									<td>1</td>
									<td>В проект «Агата» нужна детская коляска</td>
								</tr>
								
								<tr>
									<td>Детская верхняя одежда</td>
									<td>2</td>
									<td>В центр дневного пребывания подростков нужна детская одежда</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>	
		</div>
	</div>
    
    <!-- Подвал и все, что с ним связано -->
    <div class="footer">
    	<hr />
    	<div class="footerContents">
    		<div class="leftWrapper">
    			<p class="footerNav"><a href="#" title="Гостевая книга">ГОСТЕВАЯ КНИГА</a></p>
    			<p class="footerNav"><a href="#" title="Вестник ДКЦ">ГАЗЕТА &laquo;ВЕСТНИК ДКЦ&raquo;</a></p>
    		</div>
    		
    		<div class="copyright">
    			<p class="footerNav">&copy;&nbsp;ДЕТСКИЙ КРИЗИСНЫЙ ЦЕНТР, г. САНКТ-ПЕТЕРБУРГ</p>
    		</div>
    		
    		<div class="rightWrapper">
    			<p class="footerNav">
    				<a href="http://validator.w3.org/check?uri=referer">
    				<img src="http://www.w3.org/Icons/valid-xhtml10-blue"
        			alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
  				</p>
    			
    			<p class="footerNav"><a href="#" title="Гостевая книга">КАРТА САЙТА</a></p>
    			<p class="footerNav"><a href="#" title="Вестник ДКЦ">КОНТАКТЫ</a></p>
    		</div>
    	</div>
    </div>
    
</body>
</html>