/* $Id: common.css,v 0.7 2010/11/26 17:37:03 Dmitry Tretyakov Exp $ */

body {
	font-stretch:inherit;
	background-image:url(../images/grid.gif);
	background-repeat-x:repeat;
	background-repeat-y:repeat;
	background-repeat:repeat;
	background-size:inherit;
	margin-left:auto;
	margin-right:auto;
	font-size:12px;
	line-height:18px;
}


h1 {
	font-size:32px;
	font-weight:bold;
	line-height:140%;
	white-space:nowrap;
	}
	
h1 a {text-decoration:none;}
h1 a:visited {color:#000;}
	
h2 {
	font-size:24px;
	font-weight:bold;
	color:#777;
	}

h3 {
	font-size:14px;
	font-weight:bold;
	line-height:18.2px;
	margin-bottom:0px;
}

h4 {
font-size:13px;
font-weight:bold;
line-height:18px;
padding-top:18px;
}



div.logo {
	color:#333333;
	background-color:#7DABCF;
	height:162px;
	width:982px;
	margin:0px;
	margin-left:auto;
	margin-right: auto;
	padding:0px;
}

/* Start of MENU section */

div.menu	{
			width: 982px;
			padding:0px;
			margin-top: 9px;
			margin-left: auto;
			margin-right: auto;
			z-index:99;
			}
			
			
		ul.menu{
			list-style:none;
			padding:0;
			margin:0;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			z-index:100;
			display:block;
		}
		ul.menu li{
			display: block;
			float:left;
			height:27px;
			line-height: 27px;
			width:138px;
			text-align:center;
			background:#7DABCF;
			background-image: url(images/menu_bg.jpg);
			position:relative;
			border-left: 2px #FFF solid;
			font-size: 16px;
			text-align: center;
			font-family:Lucida, 'Lucida Grande', Helvetica, Verdana, sans-serif;
		}
		
		ul.menu li:first-child { border: 0px; }
		
		ul.menu li.wide { width: 282px; }

		ul.menu li ul{
			list-style:none;
			padding:0px;
			margin:0;
			display:none;
			position:absolute;
			left:0;
			top:27px;
		}
		
		ul.menu li ul li{
			float:none;
			display:block;
			position: relative;
			height:27px;
			line-height: 27px;
			margin:0;
			padding-right: 4px;
			text-align:left;
			text-indent: 2px;
			background:#7DABCF;
			border:0px;
			border-top: 2px #FFF solid;
			background-image: url(images/menu_bg.jpg);
			z-index: 105;
			min-width: 138px;
			width: auto;
			white-space: nowrap;
		}
		
		ul.menu li ul li:first-child {margin-top:2px; }
		
		li.wide ul li {width: 282px !important; padding: 0px !important; }
		
		ul.menu li a{
			display:block;
			height:27px;
			border:0px;
			color: #FFF;
			font-size: 16px;
			text-decoration:none;
			font-weight: bold;
		}
		ul.menu li:hover ul, ul.menu li.jshover ul{
			display:block;
			margin:0;
			text-align:left;
		}
		ul.menu li:hover, ul.menu li.jshover{
			background:#7DABCF;
		}
		
		ul.menu li ul.lastMenuItem { position: absolute; left:-33px;}
		
/* End of MENU Section */

div.header {
	display:block;
	position:relative;
	width:982px;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	}

	#mainHeaderContainer {
	display:block;
	position:relative;
	width:80%;
	float:left;
	margin-top:18px;
	}

	img.logotype {
	height:50px;
	width:50px;
	float:left;
	display:block;
	margin-right:8px;
	}
	
	#upheader {
		font-size:13px;
		font-weight:normal;
	}
	
	img.subNavImage {
	display:block;
	position:relative;
	height:18px;
	width:22px;
	float:right;
	padding-left:18px;
	}
	
	div.subNav {
	display:block;
	position:relative;
	float:right;
	margin-top:18px;
	width:138px;
	height:18px;
	}
	
div.contents {
	display:block;
	clear:both;	
	width:982px;
	height:100%;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	}
	
/* End of contents */

/* Starting footer section */

div.footer {
	clear:both;
	width:982px;
	margin:0;
	margin-left:auto;
	margin-right:auto;
}

	div.footer hr {
		padding:0px;
		margin-top:0px;
		color:#999;
		background-color:#999;
		border:none;
		height:2px;
	}
	
	div.footerContents {
		margin-top:8px;
	}

div.leftWrapper { float:left; }

p.footerNav {
	float:left;
	margin-right:4px;
	line-height:10px;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	color:#999;
}

P.footerNav a {
	color:#999;
	font-weight:bolder;
	text-decoration:none;
}

P.footerNav a:hover {
	color:#0064A3;
	font-weight:bolder;
	text-decoration:none;
}

div.leftWrapper p + p {
	width:196px;
	border-left: 3px solid #999;
	padding-left:8px;
	margin-left:4px;
}

div.copyright {
	margin-left:auto;
	margin-right:auto;
	white-space:nowrap;
	}
	
div.copyright p { text-align:center; }

div.rightWrapper {float:right; }

div.rightWrapper p + p {
	border-left: 3px solid #999;
	padding-left:8px;
	margin-left:4px;
}


